@import './variables';

.error404--tituloPrimario{
    margin-top: 80px;
    margin-bottom: 120px;
    font-family: $fuentePrincipal;
    font-size: 70px;
}
.error404--tituloSecundario{
    font-family: $fuentePrincipal;
    font-size: 35px;
}